:root {
  --primary-font: "Aref Ruqaa Ink", serif;
  --secondary-font: "Lora", serif;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

p,
a {
  font-family: var(--secondary-font);
  font-size: 25px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 35px;
}

.main-info {
  margin-top: 100px;
}
