:root {
  --primary-font: "Aref Ruqaa Ink", serif;
  --secondary-font: "Lora", serif;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

p,
a {
  font-family: var(--secondary-font);
  font-size: 25px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 35px;
}

.main-info,
.projects-info,
.about-info {
  margin-top: 100px;
}

img.project-img:hover {
  width: 610px;
  transition: all 1s ease-in-out;
  box-shadow: 0px 6px 20px 0px black !important;
  cursor: pointer;
}

p.text-project,
p.intro {
  max-width: 600px;
  text-align: justify !important;
}

.linkedin-icon:hover {
  width: 45px !important;
  transition: all 0.5s ease-in-out;
}
.git-icon:hover {
  width: 34px !important;
  transition: all 0.5s ease-in-out;
}

.link-not-main {
  color: lightgrey;
  opacity: 0.7;
}
.active {
  color: white !important;
  text-shadow: 1px 0.5px white;
}

.link-not-main:hover {
  color: white;
  text-shadow: 1px 0.5px white;
  transition: all 0.3s ease-in-out;
  opacity: initial;
}
.button-project {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }
  .btn {
    padding: 8px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: small !important;
  }

  .icon {
    width: 40px;
  }
}
