:root {
  --primary-font: "Aref Ruqaa Ink", serif;
  --secondary-font: "Lora", serif;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
}

p,
a {
  font-family: var(--secondary-font);
  font-size: 25px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 35px;
}

.main-info,
.projects-info {
  margin-top: 100px;
}

img.project-img:hover {
  width: 610px;
  transition: 1s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 6px 20px 0px black !important;
  cursor: pointer;
}

p.text-project {
  max-width: 600px;
  text-align: justify !important;
}

a.number {
  text-align: right;
}

.icons {
  margin-right: 0;
}
